# Main Python built-in Data Types

There are different data types in Python (click on the link for more information about the data type) and [here](https://docs.python.org/3/library/stdtypes.html) for the full list:

- [Numeric Type](http://thepythonguru.com/python-numbers/)  
    - Integer 
    - Float  
    - Complex Number  
- [Sequence Type](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range)
  - [List](http://thepythonguru.c"om/python-lists/)
  - [Tuple](http://thepythonguru.com/python-tuples/)
  - Range
- [Text Sequence Type](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)
  - [String](http://thepythonguru.com/python-strings/)
- [Set Type](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)
  - Set
- [Mapping Type](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)
  - [Dictionary](http://thepythonguru.com/python-dictionaries/)
- Boolean Values
  - Bool


Useful type related built-in function:
- `type()` *is used to determine the type of data type.*  [read more](https://docs.python.org/3/library/functions.html#type)



To get the type of a variable, we can use the `type()` function and pass as parameter the variable we want to know.
Example:

**What will happen if I execute the following block of code?**

In [1]:
my_dog = "Nova"
type(my_dog)

str

# Type Casting

Type casting, also known as type conversion, is the process of converting a value from one data type to another. In Python, you can perform type casting using built-in functions, such as int(), float(), str(), list(), tuple(), bool(), and set().

Examples:

In [2]:
# Casting float to int
float_number = 3.14
int_number = int(float_number)  # Result: 3
int_number

3

In [3]:
# Casting int to float
int_number = 5
float_number = float(int_number)  # Result: 5.0
float_number

5.0

In [4]:
# Casting float to string
float_number = 42.0
string_number = str(float_number)
string_number

'42.0'

In [6]:
float(string_number)

42.0

In [10]:
bool(string_number)

True

In [ ]:
# main objects considered as False
None
False
0
0.0
""
()
[]
{}
set()
range(0)

### Question: What will happen if we cast string to `list`, `tuple` or `set`?

# Type Mutability

Mutability refers to the ability of an object to change its state or content after it has been created.  

- **Mutable objects**: These are objects whose content or state can be changed after they are created. Examples include **lists**, **sets**, and **dictionaries**. 

- **Immutable objects**: These are objects whose content or state cannot be changed after they are created. Examples include **integers**, **floats**, **strings**, **booleans**, **tuples**, and **frozen sets**.

# Strings -> `str` or "" or '' or """"""
**Strings are sequences of characters. In Python, strings are immutable.** 
 
The object (data type) string is very important for data analysis. It has a number of important and very useful methods for string processing and parsing, and there is a package (called re) for string support for <a href= http://www.rexegg.com/regex-quickstart.html>regular expressions</a>  

Some common String object methods:

`len(string)`: Returns the length of the string.  
`string.upper()`: Returns a new string with all characters in uppercase.  
`string.lower()`: Returns a new string with all characters in lowercase.  
`string.replace(old, new)`: Returns a new string with all occurrences of old replaced with new.  
`string.split(sep)`: Returns a list of substrings separated by the specified separator sep. If no separator is provided, it splits on whitespace.

In [17]:
test_string = "Carlos Python session is fun"# Define a test string

In [18]:
len(test_string)

28

In [19]:
test_string.upper()

'CARLOS PYTHON SESSION IS FUN'

In [20]:
test_string.lower()

'carlos python session is fun'

In [24]:
string_underscore = test_string.replace(' ', '_')
string_underscore

'Carlos_Python_session_is_fun'

In [22]:
test_string.replace('X', '_') # if substring is not present then returns the same string

'Carlos Python session is fun'

In [23]:
test_string.split()

['Carlos', 'Python', 'session', 'is', 'fun']

In [25]:
string_underscore.split('_')

['Carlos', 'Python', 'session', 'is', 'fun']

# Lists -> `list` or `[]`

**Lists are ordered, mutable sequences of elements.**  

`len(list)`: Returns the length of the list.  
`list.append(item)`: Adds an item to the end of the list.  
`list.extend(iterable)`: Appends the elements of an iterable (e.g., list, tuple, string) to the list.  
`list.insert(index, item)`: Inserts an item at the specified index.  
`list.remove(item)`: Removes the first occurrence of the specified item from the list.  
`list.pop(index)`: Removes and returns the item at the specified index. If no index is provided, it removes and returns the last item in the list.

In [71]:
list1 = [1,2,3,4,5,6,7,8,9]

In [72]:
len(list1)

9

In [73]:
list1.append("ten")
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ten']

In [74]:
list1.extend("eleven")
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ten', 'e', 'l', 'e', 'v', 'e', 'n']

In [75]:
list1.extend([11])
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ten', 'e', 'l', 'e', 'v', 'e', 'n', 11]

In [76]:
list1.insert(10, '10')
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ten', '10', 'e', 'l', 'e', 'v', 'e', 'n', 11]

In [77]:
list1.remove("e")
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ten', '10', 'l', 'e', 'v', 'e', 'n', 11]

In [78]:
list1.pop(10)

'10'

In [79]:
variable1 = list1.pop()
variable1

11

In [80]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'ten', 'l', 'e', 'v', 'e', 'n']

# Tuples -> `tuple` or `()`
**Tuples are ordered, immutable sequences of elements.**  

Tuples are relationships between two or more objects (like lists) however, once created, tuples cannot be modified, i.e. adding, deleting, etc. is not allowed. They can be useful when reading data and preserving their characteristics. 

`len(tuple)`: Returns the length of the tuple.  
`tuple.index(item)`: Returns the index of the first occurrence of the specified item in the tuple. Raises a ValueError if the item is not found.

In [82]:
# Convert a list to a tuple and explore its methods
# Try to apply the list methods to the tuple and explain
tuple1 = tuple(list1)

In [83]:
tuple1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 'ten', 'l', 'e', 'v', 'e', 'n')

In [84]:
tuple1.index(2)

1

In [85]:
tuple1.count('e')

2

In [87]:
"eleven".count('e')

3

# Sets -> `set`  
**Sets are unordered collections of unique elements.**  

`len(set)`: Returns the number of elements in the set.  
`set.add(item)`: Adds an item to the set.  
`set.remove(item)`: Removes the specified item from the set. Raises a KeyError if the item is not found.  
`set.discard(item)`: Removes the specified item from the set if it is present.  
`set.union(set2)`: Returns a new set containing all items from both sets.  
`set.intersection(set2)`: Returns a new set containing items present in both sets.

In [88]:
set1 = set(tuple1)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'e', 'l', 'n', 'ten', 'v'}

In [93]:
%timeit 10 in list1

310 ns ± 47.9 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [92]:
%timeit 10 in set1 # Faster to retrieve a value from a set datatype

49.4 ns ± 5.21 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [94]:
%timeit 10 in tuple1

257 ns ± 43.5 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [95]:
set1.remove(10)

KeyError: 10

In [96]:
set1.discard(10)

In [97]:
set2 = {10,11,2,3,4}

In [98]:
set1.union(set2)

{1, 10, 11, 2, 3, 4, 5, 6, 7, 8, 9, 'e', 'l', 'n', 'ten', 'v'}

In [99]:
set1.intersection(set2)

{2, 3, 4}

In [100]:
set1.difference(set2)

{1, 5, 6, 7, 8, 9, 'e', 'l', 'n', 'ten', 'v'}

# Dictionaries -> `dict` or `{}`

**Dictionaries are unordered collections of key-value pairs.**  

Dictionaries are the hashes in python. They are also objects and allow to store a key-value relationship, as you know the keys in a dictionary or hash must be unique, while the values can be repeated. The flexibility of dictionaries in python allows to have dictionaries that *point* to other data structures such as tuples, lists and even other dictionaries.

Note, although it may sometimes appear that the .keys() and .values() methods of a dictionary retain some order and even correspond to each other, simply calling them does not ensure that element 'n' of one is equivalent to element 'n' of the other. 

`len(dict)`: Returns the number of key-value pairs in the dictionary.  
`dict.keys()`: Returns a view object displaying a list of all keys in the dictionary.  
`dict.values()`: Returns a view object displaying a list of all values in the dictionary.  
`dict.items()`: Returns a view object displaying a list of all key-value pairs in the dictionary as tuples.  
`dict.get(key, default)`: Returns the value associated with the specified key. If the key is not found, it returns the default value (or None if no default value is provided).  
`dict.update(dict2)`: Updates the dictionary with the key-value pairs from another dictionary, overwriting existing keys with new values.  
`dict.pop(key, default)`: Removes and returns the value associated with the specified key. If the key is not found, it returns the default value (or raises a KeyError if no default value is provided).

In [ ]:
{<key>:<value>, [...]}

In [101]:
dict1 = {"one":1, "two":2, "three":3}

In [103]:
dict1.keys()

dict_keys(['one', 'two', 'three'])

In [104]:
dict1.values()

dict_values([1, 2, 3])

In [105]:
dict1.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [106]:
"one" in dict1

True

In [107]:
dict1.get("one")

1

In [109]:
dict1.get("ten", "Not found")

'Not found'

In [110]:
dict1

{'one': 1, 'two': 2, 'three': 3}

In [111]:
dict1.update({"ten": "10", "one":"uno"})

In [112]:
dict1

{'one': 'uno', 'two': 2, 'three': 3, 'ten': '10'}

## Slicing
```python
#example & syntax:

list_to_slice[start:end:steps]

```

In [114]:
list1[0:8] # exclusive slice

[1, 2, 3, 4, 5, 6, 7, 8]

In [120]:
list1[0:8:2] # exclusive slice

[2, 4, 6, 8]

In [115]:
list1[0:8 + 1] # inclusive slice

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [122]:
list1[::-1] # reversed list

['n', 'e', 'v', 'e', 'l', 'ten', 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Retrieve elements

```python
# Main syntax
list[index]

```

In [125]:
list1[20] # beyond the length of the lisr

IndexError: list index out of range

In [129]:
list1[-1] # last element of the list

'n'

> Content created by **Carlos Cruz-Maldonado**.  
> Feel free to ping me at any time.

# Exercises

In [130]:
True

True

In [132]:
False

False

### Data Types:  
    a. Declare variables with different data types (integer, float, string, boolean) and print their values  
    b. Convert between data types (e.g. convert a string to an integer, or a float to a string)  
    c. Use basic mathematical operations on different data types (e.g. addition, subtraction, multiplication, division)  

### Mutability and immutability of Python data types:  
    a. Create a string, a list, a dictionary, and a tuple. Assign each one to a different variable.  
    b. Try to modify the value of the string, the list, the dictionary, and the tuple. What happens and why?  
    c. Create a new string, list, dictionary, and tuple that are equal to the original ones. Modify the new ones and compare the original and new variables. What happened and why?  
    d. Create a new string and assign it to a variable. Concatenate the string with another string and assign the result to a new variable.    

### Create a string that contains a quote and use string methods to:  
    a. Convert the string to uppercase and assign it to a new variable  
    b. Replace a word in the string with another word and assign it to a new variable  
    c. Count the number of times a specific character appears in the string  
    d. Split the string into a list of words and assign it to a new variable  

### Create a list of numbers and use list methods to:  
    a. Append a new number to the end of the list  
    b. Insert a new number at a specific index  
    c. Remove an element from the list using its value  
    d. Sort the list in ascending or descending order  

### Create a dictionary that represents a person's information and use dictionary methods to:  
    a. Add a new key-value pair to the dictionary  
    b. Remove a key-value pair from the dictionary  
    c. Get the value of a specific key and assign it to a new variable  
    d. Check if a key exists in the dictionary  

### Create a tuple of strings and use tuple methods to:  
    a. Concatenate two tuples and assign it to a new variable  
    b. Repeat the tuple a certain number of times and assign it to a new variable  
    c. Find the index of a specific element in the tuple  
    d. Check if a specific element is present in the tuple